/* Coolors Exported Palette - https://coolors.co/21244f-04acce-8ed0e0-0073b0-1c3f7e-04accf */

/* CSS HEX */
--space-cadet: #21244Fff;
--pacific-cyan: #04ACCEff;
--non-photo-blue: #8ED0E0ff;
--honolulu-blue: #0073B0ff;
--marian-blue: #1C3F7Eff;
--pacific-cyan-2: #04ACCFff;

/* CSS HSL */
--space-cadet: hsla(236, 41%, 22%, 1);
--pacific-cyan: hsla(190, 96%, 41%, 1);
--non-photo-blue: hsla(192, 57%, 72%, 1);
--honolulu-blue: hsla(201, 100%, 35%, 1);
--marian-blue: hsla(219, 64%, 30%, 1);
--pacific-cyan-2: hsla(190, 96%, 41%, 1);

/* SCSS HEX */
$space-cadet: #21244Fff;
$pacific-cyan: #04ACCEff;
$non-photo-blue: #8ED0E0ff;
$honolulu-blue: #0073B0ff;
$marian-blue: #1C3F7Eff;
$pacific-cyan-2: #04ACCFff;

/* SCSS HSL */
$space-cadet: hsla(236, 41%, 22%, 1);
$pacific-cyan: hsla(190, 96%, 41%, 1);
$non-photo-blue: hsla(192, 57%, 72%, 1);
$honolulu-blue: hsla(201, 100%, 35%, 1);
$marian-blue: hsla(219, 64%, 30%, 1);
$pacific-cyan-2: hsla(190, 96%, 41%, 1);

/* SCSS RGB */
$space-cadet: rgba(33, 36, 79, 1);
$pacific-cyan: rgba(4, 172, 206, 1);
$non-photo-blue: rgba(142, 208, 224, 1);
$honolulu-blue: rgba(0, 115, 176, 1);
$marian-blue: rgba(28, 63, 126, 1);
$pacific-cyan-2: rgba(4, 172, 207, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #21244Fff, #04ACCEff, #8ED0E0ff, #0073B0ff, #1C3F7Eff, #04ACCFff);
$gradient-right: linear-gradient(90deg, #21244Fff, #04ACCEff, #8ED0E0ff, #0073B0ff, #1C3F7Eff, #04ACCFff);
$gradient-bottom: linear-gradient(180deg, #21244Fff, #04ACCEff, #8ED0E0ff, #0073B0ff, #1C3F7Eff, #04ACCFff);
$gradient-left: linear-gradient(270deg, #21244Fff, #04ACCEff, #8ED0E0ff, #0073B0ff, #1C3F7Eff, #04ACCFff);
$gradient-top-right: linear-gradient(45deg, #21244Fff, #04ACCEff, #8ED0E0ff, #0073B0ff, #1C3F7Eff, #04ACCFff);
$gradient-bottom-right: linear-gradient(135deg, #21244Fff, #04ACCEff, #8ED0E0ff, #0073B0ff, #1C3F7Eff, #04ACCFff);
$gradient-top-left: linear-gradient(225deg, #21244Fff, #04ACCEff, #8ED0E0ff, #0073B0ff, #1C3F7Eff, #04ACCFff);
$gradient-bottom-left: linear-gradient(315deg, #21244Fff, #04ACCEff, #8ED0E0ff, #0073B0ff, #1C3F7Eff, #04ACCFff);
$gradient-radial: radial-gradient(#21244Fff, #04ACCEff, #8ED0E0ff, #0073B0ff, #1C3F7Eff, #04ACCFff);